html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Barlow Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* paragraph */
p {
  font-size: 1.1rem;
}

/* carousels */
.carousel-indicators li {
  background-color: cyan;
  width: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  display: none;
}

.carousel-caption {
  color: #fff;
  position: absolute;
  z-index: 10;
  top: 23%;
  transform: translateY(23%);
}
/* @media only screen and (max-width: 650px) {
  .carousel-caption {
    top: 25%;
    transform: translateY(25%);
  }
} */

/* change bg onscroll */
.MobileNav {
  height: 83px;
  position: fixed;
  background-color: black;
  width: 100vw;
  z-index: 999;
}
.MobileNav.active {
  background-color: black;
}
